.contact {
  display: flex;
  align-items: center;
  min-height: 85vh;
  padding: 4rem 8rem;
  background-color: #f8f9fa; 
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 1.2s ease-out forwards;
  background-color: var(--bg-color);
  color: var(--text-color)
}




@keyframes slideIn {
  from {
    opacity:0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.contact-container {
  max-width: 600px;
}

.contact h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.contact p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: var(--text-color);
  opacity: 0.8;
}

.contact-links {
  display: inline-block;
  margin: 10px;
}

.contact-link {
  display: inline-block;
  width: fit-content;
  padding: 0.75rem 1.5rem;
  background-color: #007bff; 
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.contact-link:hover {
  background-color: #0056b3;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .contact {
    padding: 2rem;
    justify-content: center;
    text-align: center;
  }

  .contact-container {
    width: 100%;
  }
}

