* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}



body[data-theme="light"] {
  --bg-color: #fafafa;
  --text-color: #222;
}

body[data-theme="dark"] {
  --bg-color: #222;
  --text-color: #c9c8c8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}


