.header {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  position: sticky;
}

.header-container{
  display: flex;
  justify-content: space-between;
}

.logo{
  font-size: 24px;
  padding: 15px 5px;
  margin-left: 20px;
}



.nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  list-style: none;
  padding: 15px 5px;
  margin-right: 20px;
  margin-top: 5px;
}


.nav a {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.nav a:hover {
  color: #0077ff;
}

.footer{
  display: flex;
  justify-content: center;
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfbfbf;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #222;
}

input:checked + .slider:before {
  transform: translateX(24px);
}



