.project-card {
  width: 350px;
  height: 445px;
  background-color: #ffffff;
  border: solid 1px lightblue;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease;
 
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px lightblue;
}

.project-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.project-content {
  padding: 19px;
  text-align: left;
}

.project-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.project-content p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.project-content a {
  display: inline-block;
  text-decoration: none;
  background-color: #0077ff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  margin-right: 30px;
  

  
}

.project-content a:hover{
  background-color: #0056b3;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2rem;
  margin: 50px;
  opacity: 0;
  transform: translateY(100px);
  animation: slideUp 1.2s ease-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to{
    opacity: 1;
    transform: translateY(0)
  }
}

.portfolio-title{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 8px;
}