.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 2rem;
  margin: 50px;
}

.portfolio-title{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 8px;
}



