.resume-container{
  max-width: 900px;
  margin: 40px auto;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;

  animation: slideIn 1s ease forwards
  

}

.resume-header{
  text-align: left;
  margin-bottom: 20px;
}

section {
  margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e5e5e5;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: inherit
}

/* Subheadings */
h3 {
  font-size: 17px;
  margin-bottom: 6px;
  font-weight: 600;
  color: inherit
}

/* Lists */
ul {
  margin-left: 22px;
  margin-top: 8px;
}

ul li {
  margin-bottom: 6px;
}

/* Project blocks */
.project {
  margin-bottom: 20px;
}

/* Paragraph spacing */
p {
  margin-bottom: 12px;
  font-size: 15px;
}

a:hover {
  text-decoration: underline;
  color: #0044cc;
}


